.menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    padding: 32px 0;
}

.hamburger-wrap {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.hamburger {
    position: relative;
    display: none;
    z-index: 1;
}

.hamburger::after,
.hamburger::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 4px;
    background-color: #070707;
}

.hamburger::after {
    margin-top: 12px;
}

.hamburger-inside {
    margin-top: 6px;
    width: 25px;
    height: 4px;
    background-color: #070707;
}

.hamburger-inside::after,
.hamburger-inside::before {
    content: "";
    position: absolute;
    padding: 10px 0;
}

.representation {
    font-weight: normal;
    line-height: 22px;
}

.author-name,
.representation {
    display: flex;
    flex-direction: column;
}

.author-name {
    line-height: 44px;
    font-family: 'Gilroy-Bold';
}

.intro {
    padding-bottom: 104px;
}

.intro-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 50px;
    padding-top: 40px;
}

.translations-buttons {
    transform: rotate(-90deg) translateX(72px);
    transform-origin: right bottom;
    font-size: 16px;
}

@media (max-width: 545px) {
    .hamburger {
        display: flex;
        justify-content: flex-end;
        height: 16px;
    }

    .active .hamburger-inside{
        display: none;
    }

    .header {
        padding-top: 20px;
    }

    .navigation {
        display: none;
    }

    .intro-top {
        flex-wrap: wrap;
        padding-top: 0px;
        padding-bottom: 30px;
    }

    .translations-buttons {
        transform: rotate(0deg) translateX(0px);
    }
    
    .translations {
        padding-right: 180px;
        padding-top: 10px;
    }

    .active .navigation-mobile {
        display: flex;
        animation-name: start,end;
        animation-duration: 500ms;
    }

    @keyframes start {
        0% {
            opacity: 0;
        }
        25% {
            opacity: 0.25;
        }
        50% {
            opacity: 0.5;
        }
        70% {
            opacity: 0.7;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes end {
        100% {
            opacity: 1;
        }
        70% {
            opacity: 0.7;
        }
        50% {
            opacity: 0.5;
        }
        25% {
            opacity: 0.25;
        }
        0% {
            opacity: 0;
        }
    }

    .active .hamburger::after  {
        content: "";
        transform: rotate(-45deg);
        bottom: 6px;
    }

    .active .hamburger::before {
        content: "";
        transform: rotate(45deg);
        top: 6px;
    }
}

.navigation-mobile {
    position: absolute;
    display: none;
    justify-content: center;
    background: white;
    width:150px;
    height: 150px;
    top:-3px;
    box-shadow: -3px 5px 8px 0px #828282;
}

