body {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color:#070707;
}

.font-bold {
    color:#070707;
    font-family: 'Gilroy-Bold';
}

.color-grey {
    color: #828282;
}

.font-size-sm {
    font-size: 34px;
}

.background-gray {
    background: #F6F6F6;
}

.icons-list {
    display: flex;
    justify-content: space-between;
}


.container {
    width: 950px;
    margin: 0 auto;
}

@media (max-width: 960px) {
    .container {
        width: 540px;
    }
}

@media (max-width: 545px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}
