body {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color:#070707;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.font-bold {
    color:#070707;
    font-family: 'Gilroy-Bold';
}

.color-grey {
    color: #828282;
}

.font-size-sm {
    font-size: 34px;
}

.background-gray {
    background: #F6F6F6;
}

.icons-list {
    display: flex;
    justify-content: space-between;
}
