body {
    font-family: 'Gilroy-Medium';
    font-size: 18px;
    color:#070707;
}

.container {
    width: 950px;
    margin: 0 auto;
}

.font-bold {
    color:#070707;
    font-family: 'Gilroy-Bold';
}

.color-grey {
    color: #828282;
}

.menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #828282;
    padding: 32px 0;
}

.font-size-sm {
    font-size: 34px;
}

.representation {
    font-weight: normal;
    line-height: 22px;
}

.author-name,
.representation {
    display: flex;
    flex-direction: column;
}

.author-name {
    line-height: 44px;
    font-family: 'Gilroy-Bold';
}

.intro {
    padding-bottom: 104px;
}

.intro-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-bottom: 50px;
    padding-top: 40px;
}

.translations-button {
    font-size: 16px;
}

.translations-button:not(:first-child) {
    font-weight:bold;
}

.translations-buttons {
    transform: rotate(-90deg) translateX(72px);
    transform-origin: right bottom;
}

.background-gray {
    background: #F6F6F6;
}

.section-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 107px;
}

.about-title {
    margin-bottom: 18px;
}

.text-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-about-me:not(:last-child) {
    margin-bottom: 25px;
}

.skills {
    padding-top: 91px;
    padding-bottom: 110px;
}

.skills-text{
    padding-bottom: 84px;
    text-align: center;
}

.skills-title {
    margin-bottom: 69px;
    text-align: center;
}

.skills-list {
    display: flex;
    justify-content: space-between;
}

.portfolio {
    padding-top: 113px;
    padding-bottom: 100px;
}

.portfolio-top {
    text-align: center;
    margin-bottom: 47px;
}

.product-link {
    text-decoration: underline;
    display: block;
    text-align: center;
    margin-top: 45px;
}

.portfolio-product {
    margin-bottom: 100px;
}

.icons-list {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center
}

.footer-top {
    text-align: center;
}

.footer-subtitle {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-top: 20px;
}

.footer-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 45px;
    font-size: 14px;
    color: #828282;
}

.footer-bottom {
    margin-top: 85px;
    width: 350px;
}

.button-send {
    border-radius: 20px;
    padding: 7.5px 30px;
    background: #070707;
    color: #FFFFFF;
}

footer {
    padding-bottom: 125px;
    padding-top: 114px;
}
