.skills {
    padding-top: 91px;
    padding-bottom: 110px;
}

.skills-text{
    padding-bottom: 84px;
    text-align: center;
}

.skills-title {
    margin-bottom: 69px;
    text-align: center;
}

.skills-list {
    display: flex;
    justify-content: space-between;
}

@media (max-width:960px) {
    .skills-list {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .mobile-skills {
        width: 50%;
    }

    .mobile-img {
        width: 150px;
        margin: 0 auto;
    }

    .mobile-skills:nth-last-of-type(3){
        margin-bottom: 30px;
    }

    .mobile-skills:nth-last-of-type(4) {
        margin-bottom: 30px;
    }
}

@media (max-width:545px) {
    .mobile-skills {
        width: 100%;
    }

    .mobile-skills:not(:last-child) {
        margin-bottom: 30px;
    }
}
