@font-face {
  
font-family: 'Gilroy-Medium';
  
src: url('Gilroy-Medium.ttf') format('truetype'),
       
url('Gilroy-Medium.woff') format('woff'),
       
url('Gilroy-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;

}
